<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/css/bootstrap.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/js/bootstrap.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script>
    $('#openBtn').click(function(){
	$('#choiceTypeModal').modal({show:true})
});
    $('#plusTodoBtn').click(function(){
        $('#modal_todo').modal({show:true})
    });
</script>
<!-- <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/> 
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script> 
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script> -->
<script type="text/javascript">   
    $(document).ready( function() {
        $("#header").load("/views/header.html");  
    });
    </script>

<style>@import url(/public/folder/folder.css);</style>
</head>

<body>
    <div id="wrap">
            <!-- <div id="header">
            </div>  -->
        <div id="container">
            <div id="MAIN_LEFT">
                <div class="section">
                    <p class="folder_name">
                        <%= folder_title%>
                    </p>
                    
                    <div id="wrap_postit" class="wrap_postit">
                    <!-- <div  id="postIt_0" class="postIt">
                        <img id="wow"class="post_img" src="media/Post_yellow.png"><p class="post">pid란?</p>
                        <img class="fixed_star" src="/media/empty_star.png" onclick="starPostClicked(0);">
                        <img class="three_button" src="media/three_button.png" onclick="showPostMenu(0);">
                        <div id="dropdown-content0" class="dropdown_content"> 
                        <button role="menuitem" class="dropdown_choice" id="revise_post0" onclick="revisePostClicked(0);"></button>
                        <button role="menuitem" class="dropdown_choice" id="delete_post0" onclick="deletePostClicked(0);"></button>
                        </div>
                        
                    </div>
                    <div id="postIt_1" class="postIt">
                        <img id="wow2" class="post_img"src="media/post_yellow.svg"><p class="post">shell이란?</p>
                        <img class="fixed_star" src="/media/empty_star.png" onclick="starPostClicked(1);">
                        <img class="three_button" src="media/three_button.png" onclick="showPostMenu(1);">
                        <div id="dropdown-content1" class="dropdown_content">
                            <button role="menuitem" class="dropdown_choice" id="revise_post1" onclick="revisePostClicked(1);"></button>
                            <button role="menuitem" class="dropdown_choice" id="delete_post1" onclick="deletePostClicked(1);"></button>
                            </div>
                    </div>
                    <div id="postIt_2" class="postIt">
                        <img class="post_img" src="media/post_red.svg"><p class="post">scheduler란?</p>
                        <img class="fixed_star" src="/media/empty_star.png" onclick="starPostClicked(2);">
                        <img class="three_button" src="media/three_button.png" onclick="showPostMenu(2);">
                        <div id="dropdown-content2" class="dropdown_content">
                            <button role="menuitem" class="dropdown_choice" id="revise_post2" onclick="revisePostClicked(2);"></button>
                            <button role="menuitem" class="dropdown_choice" id="delete_post2" onclick="deletePostClicked(2);"></button>
                            </div>
                    </div>
                    <div id="postIt_3" class="postIt">
                        <img class="post_img" src="media/post_orange.svg"><p class="post">chap1 정리</p>
                        <img class="fixed_star" src="/media/empty_star.png" onclick="starPostClicked(3);">
                        <img class="three_button" src="media/three_button.png" onclick="showPostMenu(3);">
                        <div id="dropdown-content3" class="dropdown_content">
                            <button role="menuitem" class="dropdown_choice" id="revise_post3" onclick="revisePostClicked(3);"></button>
                            <button role="menuitem" class="dropdown_choice" id="delete_post3" onclick="deletePostClicked(3);"></button>
                            </div>
                    </div>
                    <div id="postIt_4" class="postIt">
                        <img class="post_img" src="media/post_green.svg"><p class="post">ssu_shell.c</p>
                        <img class="fixed_star" src="/media/empty_star.png" onclick="starPostClicked(4);">
                        <img class="three_button" src="media/three_button.png" onclick="showPostMenu(4);">
                        <div id="dropdown-content4 " class="dropdown_content" data-value='close'>
                            <button role="menuitem" class="dropdown_choice" id="revise_post4" onclick="revisePostClicked(4);"></button>
                            <button role="menuitem" class="dropdown_choice" id="delete_post4" onclick="deletePostClicked(4);"></button>
                            </div>
                    </div> -->
                    <script>
                        var star=document.getElementsByClassName('fixed_star');
for(i=0;i<star.length;i++){
    if(star[i].src=="media/empty_star.png" && star[i].style.opacity==0){
        console.log(i+"번째가 빈 별이다.");
        star[i].hover(function(){
            star[i].style.opacity=1;
            console.log("수정했다");
        })
    }
}
                        </script>
                    <!-- <div id="postIt_plus" class="postIt">
                        <img class="post_img" src="media/post_it_orange.png"><p class="post">추가하기</p></div> -->
                    <!-- <a data-toggle="modal" href="#choiceTypeModal" id="openBtn" class="btn btn-primary">추가하기</a> -->
                <!-- </div> -->
            
                <!-- <div class="postIt" id="openBtn"></div>
                <a data-toggle="modal" href="#choiceTypeModal" class="postIt" id="openBtn">
                    <img class="post_img" src="media/post_it_orange.png">
                    
                </a>
                <p>포스트잇 추가하기</p>
                </div> -->

                <script>
                    $(document).click(function(e){
                        var dropdown=document.getElementsByClassName('dropdown_content');
                        for(i=0;i<dropdown.length;i++){
                        var value=dropdown[i].getAttribute('data-value');
                            if(!(e.target.closest('.dropdown_content'))){
                                if(value=='open'){
                            console.log("닫는 중");
                            
                                }
                        }}
                    })

                    // document.addEventListener('click',function(e){
                    //     var classList=document.getElementsByClassName('dropdown_content')
                    //     if(e.target.className!='dropdown_content'){
                    //         for(i=0;i<classList.length;i++){
                    //             var value=classList[i].getAttribute('data-value');
                    //             if(value=='open')
                    //                 console.log("닫힘");    
                    //             //hidePostMenu(i);
                    //         }
                    //     }else{
                    //         console.log("그 곳을 클릭함")
                    //     }
                    // })
                </script>


    <a data-toggle="modal" href="#choiceTypeModal" class="postIt" id="openBtn">
        <img class="post_img" src="media/post_gray.svg" value="추가하기">
    </a>

    <div class="modal" id="choiceTypeModal" data-backdrop="static">
        <div id="choice-modal"class="modal-dialog modal-choice">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">포스트잇 추가하기</h4>
            </div><div class="container-choice"></div>
            <div class="modal-body">작성할 종류를 선택하세요.
            <br>
            <br>
            <a data-toggle="modal" href="#choice_content" class="btn">
                <img src="media/content.png" ><p>글</p></a>
            <a data-toggle="modal" href="#choice_link" class="btn">
                <img src="media/link.png"><p>링크</p></a>
            <a data-toggle="modal" href="#choice_file" class="btn">
            <img src="media/file.png"><p>파일</p></a>
            </div>
        </div>
        </div>
    </div>

    <!-- <script>
        $('')
    </script> -->


    <div class="modal" id="choice_content" data-backdrop="static">
        <div class="modal-dialog modal-writing1">
        <div class="modal-content writing-inside1">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">글 작성하기</h4>
            </div><div class="container-content"></div>
            <div class="modal-body">
                <p>제목</p>
                <input type="text" id="input_content_title" name="title" class="input_text" placeholder="제목을 입력하세요">
                <br>
                <br>
                <p>내용</p>
                <textarea id="input_content" name="content" class="input_content" row="38" cols="38" name="contents" placeholder="내용을 입력하세요"></textarea>
            </div>
            <div class="modal-footer">
                <div class="content_color_wrap" value="포스트잇의 색을 선택하세요.">
                    <select id="content_color" name="content_color"> 
                    <option value='/public/media/folder_orange.svg' style="background-color: #f29b34;">주황색</option>
                    <option value='/public/media/folder_green.svg' style='background-color: #97ce68;'>연두색</option>
                    <option value='/public/media/folder_yellow.svg' style='background-color: #fcd341;'>노란색</option>
                    <option value='/public/media/folder_red.svg' style='background-color: #e36363;'>다홍색</option>
                    <option value='/public/media/folder_mint.svg' style='background-color: #4dbdc2;'>하늘색</option>

                
                    </select>
                </div>
            <a href="#" data-dismiss="modal" class="btn cancelBtn" onclick="cancelClicked();">취소</a>
            <a href="#" class="btn uploadBtn" onclick="uploadContent();">완료</a>
            </div>
        </div>
        </div>
    </div>
    
    <script>
        function uploadContent(){
            const folder_name=JSON.parse('<%- JSON.stringify(folder_title) %>');
            console.log(folder_name);
            const title=$('#input_content_title').val();
            const content=$('#input_content').val();
            const color=$('#content_color option:selected').val();
            if(title.trim()==''){
                alert("제목을 입력해주세요.");
            }else if(content.trim()==''){
                alert("내용을 입력해주세요.");
            }else{
                var new_post;
                $.ajax({
                    type:'POST',
                    async:true,
                    url:'/add',
                    data:{
                        folder_name:folder_name,
                        postIt_name:title,
                        postIt_content:content,
                        postIt_type:'content',
                        postIt_star:false,
                        postIt_color:color

                    },
                    success:function(data){
                        console.log('포스트잇 글 저장 완료');
                    },error:function(err){
                        console.log('포스트잇 글 저장 실패');
                    }
                })
            }
        }
    </script>

    <div class="modal" id="choice_link" data-backdrop="static">
        <div class="modal-dialog modal-writing2">
        <div class="modal-content writing-inside2">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">링크 작성하기</h4>
            </div><div class="container-link"></div>
            <div class="modal-body">               
                <p>제목</p>
                <input type="text" id="input_link_text" class="input_text" placeholder="제목을 입력하세요">
                <br>
                <br>
                <p>링크</p>
                <input type="url" id="input_link" class="input_link" placeholder="링크를 입력하세요">
            </div>
            <div class="modal-footer">
                <div class="link_color_wrap" value="포스트잇의 색을 선택하세요.">
                    <select id="link_color" name="link_color"> 
                    <option value='/public/media/folder_orange.svg' style="background-color: #f29b34;">주황색</option>
                    <option value='/public/media/folder_green.svg' style='background-color: #97ce68;'>연두색</option>
                    <option value='/public/media/folder_yellow.svg' style='background-color: #fcd341;'>노란색</option>
                    <option value='/public/media/folder_red.svg' style='background-color: #e36363;'>다홍색</option>
                    <option value='/public/media/folder_mint.svg' style='background-color: #4dbdc2;'>하늘색</option>
                
                </select>
                </div>
                <a href="#" data-dismiss="modal" class="btn cancelBtn" onclick="cancelClicked()">취소</a>
                <button class="btn uploadBtn" onclick="uploadLink();">완료</a>
            </div>
        </div>
        </div>
    </div> 

    <script>
        function uploadLink(){
            var folder_name=JSON.parse('<%- JSON.stringify(folder_title) %>');
            console.log(folder_name);
            const title=$('#input_link_text').val();
            const link=$('#input_link').val();
            const color=$('#link_color option:selected').val();
            if(title.trim()==''){
                alert("제목을 입력해주세요.");
            }else if(link.trim()==''){
                alert("링크를 입력해주세요.");
            }else{
                var new_post;
                
                $.ajax({
                    type:'POST',
                    async:true,
                    url:''+folder_name+'/add',
                    data:{
                        folder_id:folder_name,
                        postIt_name:title,
                        postIt_type:'link',
                        postIt_content:link,
                        postIt_star:false,
                        postIt_color:color

                    },
                    success:function(data){
                        console.log('포스트잇 글 저장 완료');
                    },error:function(err){
                        console.log('포스트잇 글 저장 실패');
                    }
                })
            }
        }
    </script>

    <!-- <div class="modal" id="choice_file" data-backdrop="static">
        <div class="modal-dialog modal-writing3">
        <div class="modal-content writing-inside3">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">파일 작성하기</h4>

            </div>
            <div class="container-file"></div>
            <div class="modal-body">
                    <p>제목</p>
                    <input type="text" id="input_file_text" class="input_text" placeholder="제목을 입력하세요">
                    <br>
                    <br>
                    <div class="filebox"> 
                        <input class="upload-name" value="파일선택" disabled="disabled">
                        <label for="ex_filename">업로드</label> 
                        <input type="file" id="ex_filename" class="upload-hidden">
                    </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#" data-dismiss="modal" onclick="cancelClicked();" class="btn cancelBtn">취소</a>
                        <a href="#" class="btn uploadBtn" onclick="uploadFile();">완료</a>
                    </div>
                </div>
            
        </div>
        </div> -->
    </div>
            </div>
        </div>
                <div id="MAIN_RIGHT" class='column_right'>
                    <div class="aside">
                        <div class="aside_wrap">
                            <p>오늘 할 일</p>
                            
                            <div class="todaylist" id="todaylist">
                                
                                
                                <div class="todaylists" id='todaylists'>
                                    <!-- todolist 뿌려주기 -->
                                    
                                <% for(var i=0;i<todolist.length; i++) { %>
                                
                                    <input type="hidden" value="<%=todolist[i].todo_content%>" class="todolist-id"/>
                                    <% if(todolist[i].todo_finished) {%>
                                        <div class='wrap_label'><label class='label'><input type="checkbox" checked name='checkbox' onclick="onCheckedHandler('<%= todolist[i].todo_content %>',true)" class="checkbox">
                                            <p style='text-decoration: line-through;' class="p_p"><%= todolist[i].todo_content %></p></label><span class='delete_todo' onclick="onDeleteTodo('<%= todolist[i].todo_content %>','<%= i %>')">&times;</span></div>
                                    <%} else{ %>
                                        <div class='wrap_label'><label class='label'><input type="checkbox" name='checkbox' onclick="onCheckedHandler('<%= todolist[i].todo_content %>',false)" class="checkbox">
                                            <p style='text-decoration: none;'class="p_p"><%= todolist[i].todo_content %></p></label><span class='delete_todo' onclick="onDeleteTodo('<%= todolist[i].todo_content %>','<%= i %>')">&times;</span></div>
                                        <% } %>
                                    <% } %>
                                    <!-- </form> -->
                                    <!-- if문을 통해서 해당 todolist[i].todo_finished값이 true라면 checkbox에 checked로 띄워지게! -->
                                </div>
                                <input type="submit" data-toggle="modal" data-target="#modal_todo" class="btnplusTodo" value="+   할 일 추가하기"></input>
                            </div>
                            
                            <script>
                            
                                var checked_toggle=1;
                                //모달에서 추가하기를 눌렀을 때 값이 다시 업데이트가 되도록 mongodb에서 값 가져오기..
                                function onCheckedHandler(todo_content, boolValue){ //해당 _id값이 넘어온 것이니까 //mongodb에서 수정하기 위해서
                                    var checkedIndex;
                                    var checkedBox=document.getElementsByClassName('checkbox');
                                    var hidden_input=document.getElementsByClassName('todolist-id');
                                    for(var i=0;i<hidden_input.length;i++){
                                        if(hidden_input[i].value==todo_content){
                                            checkedIndex=i;
                                        }
                                    }
                                    var currentState=boolValue;
                                    //console.log(currentState+'->'+!(currentState));
                                    if(currentState==true){
                                        checked_toggle++;
                                    }
                                    var content=document.getElementsByClassName('p_p');
                                    if(checked_toggle%2==1){ //unchecked -> checked
                                        content[checkedIndex].style.textDecoration='line-through';
                                        currentState=true;
                                        
                                        fetch('/',{
                                            method:'PATCH',
                                            headers:{
                                                'Accept':'application/json',
                                                'Content-Type':'application/json'
                                            },
                                            body:JSON.stringify({user_id:'<%= user.name %>',todo_content:content[checkedIndex].innerHTML, todo_finished:true})
                                            //.then(res => res.json( ))  
                                        });
                                        
                                    }else{   //checked -> unchecked
                                        content[checkedIndex].style.textDecoration='none';
                                        content[checkedIndex].setAttribute('checked',false);
                                        
                                        currentState=false;
                                        fetch('/',{
                                            method:'PATCH',
                                            headers:{
                                                'Accept':'application/json',
                                                'Content-Type':'application/json'
                                            },
                                            body:JSON.stringify({user_id:'<%= user.name %>',todo_content:content[checkedIndex].innerHTML, todo_finished:false})
                                            //.then(res => res.json())  
                                        });
    
                                    }      
                                        checked_toggle++;
                                                           }
                                
                                function onDeleteTodo(todo_content,delete_index){
                                    var parent=document.getElementById('todaylists');
                                    
                                    var delete_div=document.getElementsByClassName('wrap_label')[delete_index];
                                    //console.log(delete_index);
                                
                                    //db에 삭제되도록 하기
                                    fetch('/',{
                                            method:'DELETE',
                                            headers:{
                                                'Accept':'application/json',
                                                'Content-Type':'application/json'
                                            },
                                            body:JSON.stringify({user_id:'<%= user.name %>',todo_content:todo_content})
                                            //.then(res => res.json())   
                                        });
                                        parent.removeChild(delete_div);
                                        alert(todo_content+'이(가) 오늘 할 일에서 삭제되었습니다.');
                                }
                            
                            </script>
    
                            
                            <!--+부분 이미지로 넣기-->
                            
                            <div class="caution">
                                오늘(11:59 PM)기준으로 완료된 할 일은<br>내일(12:00 AM)기준으로 제거되고,<br>완료되지 않은 할 일은 유지됩니다.
                            </div>
                    </div>
                    </div>

                    <div id="modal_todo" class="modal modal_todo">
                        <div class="modal-content-todo">
                        <span class="close_button close_todo_button">&times;</span>
                        <h1 class="title">오늘 할 일 추가히기</h1>
                        <!-- <form action='/' method="POST"> -->
                            <div>
                                <input type="text" id="modal-todo" name="todo_content" maxlength="10" placeholder="할 일을 작성해보세요.">
                                <input type="hidden">
                            </div>
                            <div>
                                <input type="button" class="modal-todo-plus" value="확인"></input>
                            </div>
                        <!-- </form> -->
                        </div>
                    </div>
                
                <script type='text/javascript'>
                    var modal_todo=document.querySelector(".modal_todo");
                    var trigger_todo=document.querySelector(".btnplusTodo"); //todo 추가하기 버튼
                    var closeTodoButton=document.querySelector('.close_todo_button');
                    var storeTodoButton=document.querySelector('.modal-todo-plus');

                function toggleTodoModal(){
                    modal_todo.classList.toggle("show_modal");
                }

                function windowOnClick(event){
                    if(event.target===modal_todo){
                        toggleTodoModal();
                    }
                }

                trigger_todo.addEventListener("click",toggleTodoModal);
                closeTodoButton.addEventListener('click',toggleTodoModal);
                storeTodoButton.addEventListener('click',toggleTodoModal);

                $('.modal-todo-plus').click(function(event){
                    var new_content=$('#modal-todo').val();
                    //var new_todo_id=todolist._id;
                    if(new_content.trim()===''){ //내용을 입력하지 않은 경우
                        alert("내용을 입력해주세요.");}
                    else{
                        var new_todolist;
                        $.ajax({
                            type:'POST',
                            async:true,
                            url:'/:id/todo',
                            data:{
                                todo_content:new_content,
                                todo_finished:false
                            },
                    
                            success:function(data){
                                var new_todo = {
                                    todo_content : new_content,
                                    todo_finished : false
                                }
                                addNewTodo(new_todo);
                            },error:function(err){
                                console.log('todo 저장 실패');
                            }
                        });
                    }
                })

                function addNewTodo(todolist){
    
    var content=todolist.todo_content;

    var parent_todolist=document.getElementById('todaylists');
    
    var new_div=document.createElement('div');
    new_div.setAttribute('class','wrap_label');
    var new_input=document.createElement('input');
    new_input.setAttribute('type','hidden');
    new_input.setAttribute('value',content);
    new_input.setAttribute('class','todolist-id')
    var new_label=document.createElement('label');
    new_label.setAttribute('class','label');
    var new_checkbox=document.createElement('input');
    new_checkbox.setAttribute('type','checkbox');
    new_checkbox.setAttribute('name','checkbox');
    new_checkbox.setAttribute('class','class');
    //new_checkbox.setAttribute('onclick','onCheckedHandler('+content+','+false+')')
    // 이 값을 함수 호출하는 곳에서 가져와야 함...
    var new_p=document.createElement('p');
    new_p.setAttribute('class','p_p');
    new_p.innerHTML=content;
    var new_span=document.createElement('span');
    new_span.setAttribute('class','delete_todo');
    //new_span.setAttribute('onclick','onDeleteTodo('+content+')')
    
    var new_ck_toggle=1;
    new_checkbox.addEventListener('click',function(){
        
        var check_content=todolist.todo_content;
        console.log(check_content);
        var check_value=todolist.todo_finished;
        //onCheckedHandler(content,check_value);
        //console.log(check_value+'->'+!(check_value));
        if(check_value==true){
            new_ck_toggle++;
        }
        if(new_ck_toggle%2==1){
            new_p.style.textDecoration='line-through';
            check_value=true;

            fetch('/',{
                method:'PATCH',
                headers:{
                'Accept':'application/json',
                'Content-Type':'application/json'
            },
            body:JSON.stringify({user_id:'<%= user.name %>',todo_content:new_p.innerHTML, todo_finished:true})
            //.then(res => res.json( ))  
            });
        }else{
            new_p.style.textDecoration='none';
            check_value=false;
            fetch('/',{
                method:'PATCH',
                headers:{
                    'Accept':'application/json',
                    'Content-Type':'application/json'
                    },
                body:JSON.stringify({user_id:'<%= user.name %>',todo_content:new_p.innerHTML, todo_finished:false})
                //.then(res => res.json())  
                });
        }
        new_ck_toggle++;
    });

    new_span.innerHTML='&times;'

    parent_todolist.append(new_div);
    new_div.append(new_label);
    new_label.append(new_checkbox);
    new_label.append(new_p);
    new_div.append(new_span);

    new_span.addEventListener('click',function(){
        //삭제했을 때 바뀌도록 ... delete함수 사용
        fetch('/',{
            method:'DELETE',
            headers:{
                'Accept':'application/json',
                'Content-Type':'application/json'
                },
            body:JSON.stringify({user_id:'<%= user.name %>',todo_content:new_p.innerHTML})
            //.then(res => res.json())   
            });
            alert(new_p.innerHTML+'이(가) 오늘 할 일에서 삭제되었습니다.');
            parent_todolist.removeChild(new_div);
    });
}
                </script>
                
                </div>

    </div>

    <script>
        function cancelClicked(){
            alert("포스트잇 작성이 취소되었습니다.");
        }
    </script>

        <!-- 종류 선택하기 -->
    <!-- <div id="modal" class="modal_postIt">
        <div class="modal-postIt-content">
            <span class="close_button close_postIt_button">&times;</span>
            <p class="title">작성할 종류를 선택하세요</p> 
            <form action="#post.js" method="POST">
                <ul class="wrap_choice">
                    <li class="choice" id="choice_content" >
                        <img src="media/content.png" ><span>글</span></img>
                    </li>
                    <li class="choice" onclick="choice(1);">
                        <img src="media/link.png"><span>링크</span></img>
                    </li>
                    <li class="choice" onclick="choice(2);">
                        <img src="media/file.png"><span>파일</span></img>
                    </li>
                </ul> 
            </form>
        </div>
    </div>

    
    <div id="modal" class="modal_content">
        <div class="modal-content-content">
            <span class="close_button close_content_button">&times;</span>
            <form action="#post.js" method="POST">
                <p class="title">글 작성하기</p>
        <hr>

        <div class="input_wrap">
            <p>제목</p>
            <label><input type="text" id="input_title" class="input_text" placeholder="제목을 입력하세요"></label>
            <br>
            <p>내용</p>
            <label><textarea id="input_content" class="input_text" rows="40" cols="30" name="contents" placeholder="내용을 입력하세요"></textarea></label>
        </div>

        <div class="buttons_wrap">
            <input type="button" class="cancelBtn" value="취소" onclick="cancelLink()"/>
            <input type="button" class="uploadBtn" value="완료" onclick="uploadLink()"/>
        </div>
            </form>
        </div>
    </div> -->

    </div>
    </body>
</html>
